openapi: 3.0.3
info:
  title: State Department Consular Affairs Data Country Information API
  description: Public REST API providing travel advisories for all countries, country travel information, and passport acceptance facility locations. The API is hosted at cadataapi.state.gov and requires no authentication.
  version: 1.0.0
  contact:
    name: US Department of State Consular Affairs
    url: https://travel.state.gov/
  x-api-id: state-dept-consular-affairs
  x-provider: state-dept
servers:
- url: https://cadataapi.state.gov
  description: State Department Consular Affairs Data API
tags:
- name: Country Information
  description: Detailed country-specific travel information covering transportation, entry requirements, local laws, health, safety, and embassy contacts
paths:
  /api/CountryTravelInformation:
    get:
      operationId: getCountryTravelInformation
      summary: Get travel information for all countries
      description: Returns detailed travel information for all countries, including transportation, entry/exit requirements, local laws, health guidance, safety and security advisories, destination descriptions, and embassy/consulate contact information. All content fields are HTML-formatted.
      tags:
      - Country Information
      responses:
        '200':
          description: Array of country travel information objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CountryTravelInformation'
  /api/CountryTravelInformation/{tag}:
    get:
      operationId: getCountryTravelInformationByTag
      summary: Get travel information for a specific country
      description: Returns detailed travel information for a specific country identified by its two-letter country code tag. Includes transportation, entry/exit requirements, local laws, health guidance, safety and security advisories, destination descriptions, and embassy/consulate contact information.
      tags:
      - Country Information
      parameters:
      - name: tag
        in: path
        required: true
        description: Two-letter country code (e.g., AF for Afghanistan, FR for France)
        schema:
          type: string
          minLength: 2
          maxLength: 2
          example: AF
      responses:
        '200':
          description: Country travel information for the specified country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryTravelInformation'
  /api/CountryTravelInformation/{tag}/{field}:
    get:
      operationId: getCountryTravelInformationByTagAndField
      summary: Get a specific field of travel information for a country
      description: Returns a specific field of travel information for a country identified by its two-letter code. Useful for retrieving only the relevant section (e.g., health, safety_and_security) without fetching the full record.
      tags:
      - Country Information
      parameters:
      - name: tag
        in: path
        required: true
        description: Two-letter country code
        schema:
          type: string
          example: AF
      - name: field
        in: path
        required: true
        description: Field name to retrieve (e.g., health, safety_and_security, entry_exit_requirements)
        schema:
          type: string
          enum:
          - travel_transportation
          - entry_exit_requirements
          - local_laws_and_special_circumstances
          - health
          - safety_and_security
          - destination_description
          - travel_embassyAndConsulate
          example: health
      responses:
        '200':
          description: Requested field value for the specified country
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    CountryTravelInformation:
      type: object
      description: Comprehensive travel information for a country as published by the US Department of State
      properties:
        tag:
          type: string
          description: Two-letter country code identifier
          example: AF
        geopoliticalarea:
          type: string
          description: Full country or geopolitical area name
          example: Afghanistan
        travel_transportation:
          type: string
          description: HTML-formatted content covering road conditions, aviation safety, traffic regulations, and transportation options
          example: <p>Road conditions in Afghanistan are poor...</p>
        entry_exit_requirements:
          type: string
          description: HTML-formatted content detailing passport and visa requirements, dual nationality rules, and registration requirements
          example: <p>A valid passport and visa are required to enter Afghanistan...</p>
        local_laws_and_special_circumstances:
          type: string
          description: HTML-formatted content on criminal penalties, religious restrictions, laws affecting travelers including women and LGBTQ+ travelers
          example: <p>Afghanistan is governed by Islamic law...</p>
        health:
          type: string
          description: HTML-formatted content on emergency medical services, hospital facilities, recommended vaccinations, food and water safety
          example: <p>Medical facilities in Afghanistan are limited...</p>
        safety_and_security:
          type: string
          description: HTML-formatted content on terrorism threats, kidnapping risks, crime levels, civil demonstrations, and security conditions
          example: <p>Afghanistan remains a high-risk environment...</p>
        destination_description:
          type: string
          description: HTML-formatted general description of the destination with link to State Department fact sheet
          example: <p>For more information, visit the <a href='...'>State Department fact sheet</a>...</p>
        travel_embassyAndConsulate:
          type: string
          description: HTML-formatted embassy and consulate contact information including address, phone, and email
          example: <p>U.S. Embassy Kabul (operations suspended as of August 31, 2021)</p>
        last_update_date:
          type: string
          description: 'Date the record was last updated in the format ''Last Updated: Month DD, YYYY'''
          example: 'Last Updated: April 02, 2026'
      required:
      - tag
      - geopoliticalarea
